<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Главная страница"}  %}
	</head>
	<body>
        <div class="wrapper1  header_bgcolored long_banner wides_menu front_page basket_normal basket_fill_WHITE side_LEFT block_side_NORMAL catalog_icons_N banner_auto  mheader-v1 header-v20 header-font-lower_N regions_N title_position_LEFT fill_ footer-v5 front-vindex1 mfixed_Y mfixed_view_always title-v2 lazy_Y with_phones compact-catalog normal-catalog-img landing-normal big-banners-mobile-slider bottom-icons-panel-N compact-breadcrumbs-N catalog-delayed-btn-N  ">
            
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            mod:"is--scroll",
            link:"",
            logotip:"svg",
            link_attr:"data-scrollto-item",
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
            ],
        } %}
        <img src="{{path.img}}/default/banner.jpg" style="margin: 0 auto" alt=""> 

        <main class="{{prefix.section}}wrap  is--page-index">
            {% include "../block/page/index.twig" with {
                view:"about", 
                prefix:prefix.section, 
                mod:"is--page-index-about",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  is--page-index-about", 
                heading_level:"h2", 
                heading:'<span class="color--primary">Neverest</span> – часть твоего ежедневного расписания и повседневной жизни',

                note_group:"", 
                note_attr:"",
                note_mod:"is--page-index-about-note", 
                note_level:"div", 
                note:"<p>Мы&nbsp;создаем оборудование, которое дарит хорошее самочувствие, тонус и&nbsp;возможность добиться высоких результатов в&nbsp;спортзале. Фитнес с&nbsp;Neverest доступен каждому, независимо от&nbsp;возраста, социального статуса, вкусов и&nbsp;предпочтений! Мы&nbsp;далеки от&nbsp;стереотипов и&nbsp;стремимся сделать спорт частью твоего современного привычного образа жизни. Здоровое подтянутое тело, естественная активность, прекрасное настроение и&nbsp;позитивная энергия&nbsp;— результат в&nbsp;стиле Neverest!</p><p>&nbsp;</p><p>Наслаждайся движением, наслаждайся жизнью! </p>",

                bg: [path.img,"/default/index-about-bg.png"].join(""),

                btn_view:'link', 
                btn_attr:'',
                btn_mod:'is--full  is--primary', 
                btn_link:'#',
                btn_name:"Подробнее",

                btn_def_view:'link', 
                btn_def_attr:'',
                btn_def_icon:'icon-play',
                btn_def_mod:'is--full', 
                btn_def_link:'#', 
                btn_def_name:"Смотреть видео"
            } %}

            {% include "../block/page/index.twig" with {
                view:"adv", 
                prefix:prefix.section, 
                mod:"is--page-index-adv",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"sr-only", 
                heading_level:"h2", 
                heading:"Наши преимущества",

                card_view:'adv',
                card_mod:'is--adv',
                card_list:[
                    {
                        img: [path.img,"/default/adv-item1.svg"].join(""),
                        name: 'Опыт',
                        note: 'Накопленный опыт оперирования фитнес-клубами позволил нам более тщательно подойти к оснащению тренажёрных залов, используя результаты анализа поведения и привычек членов клуба.',
                    },
                    {
                        img: [path.img,"/default/adv-item2.svg"].join(""),
                        name: 'Продукт',
                        note: 'Простое в обслуживании, надежное оборудование, рассчитано на длительный срок эксплуатации. Оборудование интуитивно понятно в использовании для членов клуба Возможны различные цвета оборудования Представленность всего ассортимента в шоу-руме.',
                    },
                    {
                        img: [path.img,"/default/adv-item3.svg"].join(""),
                        name: 'Сервис',
                        note: 'Сопровождение и помощь специалистов при подборе оборудования и формировании заказа. Доставка оборудования. Наличие комплектующих в России. Собственная служба поддержки и обслуживание по первому требованию. Гарантия на оборудование.',
                    },
                ]
            } %}

            {% include "../block/page/index.twig" with {
                view:"catalog", 
                prefix:prefix.section, 
                mod:"is--page-index-catalog",

                heading_group:"", 
                heading_attr:"",
                heading_mod:'is--h1  is--page-index-catalog', 
                heading_level:"h2", 
                heading:'<span class="color--primary">Популярные</span> категории',

                card_view:'catalog',
                card_mod:'is--catalog  is--columns',
                card_list:[
                    {
                        img: [path.img,"/default/catalog-item1.png"].join(""),
                        name: 'Гребная тяга',
                    },
                    {
                        img: [path.img,"/default/catalog-item1.png"].join(""),
                        name: 'Кардиотренажеры',
                    },
                    {
                        img: [path.img,"/default/catalog-item1.png"].join(""),
                        name: 'Силовые тренажеры',
                    },
                    {
                        img: [path.img,"/default/catalog-item1.png"].join(""),
                        name: 'Скамьи',
                    },                    
                ],

                btn_view:'link', 
                btn_attr:'',
                btn_icon:'', 
                btn_mod:'', 
                btn_link:'#',
                btn_name:"Весь каталог&nbsp;&nbsp;→",
            } %}
        </main>

        </div>
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",               
            nav: [
                {
                    "name":"О компании", 
                    "link": "#", 
                },
                {
                    "name":"Услуги", 
                    "link": "#", 
                },
                {
                    "name":"Как купить", 
                    "link": "#", 
                },
                {
                    "name":"Производители", 
                    "link": "#", 
                },
                {
                    "name":"Магазины", 
                    "link": "#", 
                },
                {
                    "name":"Контакты", 
                    "link": "#", 
                },
            ],
        } %}
        
        {# <main class="{{prefix.section}}wrap">
            {% include "../block/page/index.twig" with {
                id:block.header, 
                view:"header", 
                prefix:prefix.section, 
                mod:"is--page-index-header",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"ff--custom  is--page-index-header", 
                heading_level:"h1", 
                heading:"Наша работа - ваша финансовая свобода",

                note_group:"", 
                note_attr:"",
                note_mod:"is--h4  fw--400  is--page-index-header-note", 
                note_level:"h2", 
                note:"Инвестиционное консультирование и финансовое планирование.",

                bg: [path.img,"/default/index-header-bg.png"].join(""),

                btn_view:"link", 
                btn_attr:'data-scrollto-item data-scrollto-diff="-58"',
                btn_mod:'', 
                btn_link:['#',block.services].join(""),
                btn_name:"Наши услуги",

                btn_def_view:"link", 
                btn_def_attr:'',
                btn_def_mod:'is--primary', 
                btn_def_link:page.docs, 
                btn_def_name:"Раскрытие информации"
            } %}

            {% include "../block/page/index.twig" with {
                id:block.blockquote, 
                view:"blockquote", 
                prefix:prefix.section, 
                mod:"is--page-index-blockquote",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h4  is--page-index-blockquote-note", 
                heading_level:"p", 
                heading:"«Если вы&nbsp;не&nbsp;найдете способ зарабатывать деньги, пока спите, вы&nbsp;будете работать, пока не&nbsp;умрете».",

                autor_group:"", 
                autor_attr:"",
                autor_mod:"is--h3  fw--700  ", 
                autor_level:"p", 
                autor:"Уоррен Баффет",

                bg: [path.img,"/default/index-blockquote-bg.jpg"].join(""),
            } %}



            {% include "../block/page/index.twig" with {
                id:block.promo, 
                view:"promo", 
                prefix:prefix.section, 
                mod:"is--page-index-promo",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"ff--custom  fw--700  is--page-index-promo",
                heading_level:"p", 
                heading:"Мы можем, сделать так, чтобы Ваши деньги работали на вас!",

                btn_view:"btn", 
                btn_attr:'data-toggle="modal" data-target="#modal-form" data-modal-heading="Начать работать"',
                btn_mod:'', 
                btn_link:'',
                btn_name:"Начать работать",

                bg: [path.img,"/default/index-promo-bg.jpg"].join(""),
            } %}

            {% include "../block/page/index.twig" with {
                id:block.services, 
                view:"services", 
                prefix:prefix.section, 
                mod:"is--page-index-services",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"p", 
                heading:"Как мы можем вам помочь?",

                bg: [path.img,"/default/index-services-bg.png"].join(""),

                card_view:'services',
                card_mod:'is--services-card',
                card_list:[
                    {
                        link: page.services_card1,
                        num: '01.',
                        name: 'Персональный финансовый план',
                        img: [path.img,"/default/services-item1.jpg"].join(""),
                    },
                    {
                        link: page.services_card2,
                        num: '02.',
                        name: 'Создание и сопровождение инвестиционного портфеля',
                        img: [path.img,"/default/services-item2.jpg"].join(""),
                    },
                    {
                        link: page.services_card3,
                        num: '03.',
                        name: 'Налоговое консультирование', 
                        img: [path.img,"/default/services-item3.jpg"].join(""),
                    },
                ]
            } %}

            {% include "../block/page/index.twig" with {
                id:block.step, 
                view:"step", 
                prefix:prefix.section, 
                mod:"is--page-index-step",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"h2", 
                heading:"Как мы будем с Вами работать",

                bg: [path.img,"/default/index-step-bg.png"].join(""),
                bg_card: [path.img,"/default/index-step-bg-wave.png"].join(""), 

                card_view:'step',
                card_mod:'is--step',
                card_list:[
                    {
                        num: '01',
                        name: 'Заявка',
                        note: 'Вы оставляете онлайн заявку на сайте',
                    },
                    {
                        num: '02',
                        name: 'Звонок',
                        note: 'Наш менеджер связывается с вами, уточняет детали и помогает с оплатой',
                    },
                    {
                        num: '03',
                        name: 'Оплата',
                        note: 'Вы оплачиваете услугу',
                    },
                    {
                        num: '04',
                        name: 'Заполнение анкеты',
                        note: 'Менеджер помогает вам заполнить анкету и подготовить пакет документов для анализа',
                    },
                    {
                        num: '05',
                        name: 'Анализ',
                        note: 'После получения документов и анкеты мы проводим анализ и готовим отчет',
                    },
                    {
                        num: '06',
                        name: 'Консультация',
                        note: 'Мы обсуждаем результаты работы на консультации',
                    },
                ],

                promo_group:"is--block-promo", 
                promo_attr:"",
                promo_mod:"ff--custom  fw--700  is--block-promo",
                promo_level:"p", 
                promo:"Подайте заявку и начните зарабатывать прямо сейчас!",

                promo_btn_view:"btn", 
                promo_btn_mod:'', 
                promo_btn_link:'',
                promo_btn_attr:'data-toggle="modal" data-target="#modal-form" data-modal-heading="Подать заявку"',
                promo_btn_name:"Подать заявку",

                promo_bg: [path.img,"/default/index-promo-bg.jpg"].join(""),
            } %}

            {% include "../block/page/index.twig" with {
                id:block.faq, 
                view:"faq", 
                prefix:prefix.section, 
                mod:"is--page-index-faq",

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"h2", 
                heading:"Вопрос - ответ",

                btn_view:"btn", 
                btn_attr:'data-toggle="modal" data-target="#modal-form-note" data-modal-heading="Задать вопрос"',
                btn_mod:'', 
                btn_link:'',
                btn_name:"Больше ответов",
                
                card_id:'faq',
                card_view:'faq',
                card_mod:'is--faq',
                card_list: [
                    {
                        "list": [
                            {
                                id: '0',
                                name: 'Что входит в консультацию?',
                                note: '
                                    <h6>В&nbsp;ходе первичной консультации&nbsp;мы:</h6>
                                    <ul> 
                                        <li>проанализируем Ваше материальное состояние;</li>
                                        <li>рассмотрим источники, посредством которых формируется ваше финансовое состояние на&nbsp;момент первичной консультации;</li>
                                        <li>изучим поставленные перед Вами финансовые цели;</li>
                                        <li>совместно с&nbsp;вами установим срок, за&nbsp;который предполагается достигнуть ваши финансовые цели;</li>
                                        <li>определим финансовые инструменты, позволяющие достигнуть стоящие перед вами цели;</li>
                                        <li>оценим возможные риски при достижении Ваших финансовых целей.</li>
                                    </ul>
                                    <p>В&nbsp;ходе консультации&nbsp;Вы можете задать абсолютно любой интересующий вас вопрос.</p>
                                    <p>По&nbsp;окончании первичной консультации&nbsp;Вы изберете наиболее оптимальный формат сотрудничества с&nbsp;нами в&nbsp;зависимости от&nbsp;целей, стоящих перед вами.</p>',
                            },
                            {
                                id: '2',
                                name: 'Какова стоимость услуг?',
                                note: '<h6>Первичная консультация предоставляется бесплатно.</h6>
                                <p>Стоимость услуг определяется, исходя из&nbsp;Вашей финансовой ситуации, целей и&nbsp;задач, которые&nbsp;Вы перед собой ставите, а&nbsp;также возможных рисков на&nbsp;пути к&nbsp;достижению Ваших целей.</p>',
                            },
                            {
                                id: '1',
                                name: 'Будет ли со мной заключен какой-либо договор?',
                                note: '
                                    <p>Наша деятельность основана на&nbsp;действующем законодательстве Российской Федерации с&nbsp;соблюдением всех установленных норм и&nbsp;правил.</p>
                                    <p>Мы&nbsp;предлагаем Вам заключить соответствующий договор при вашем желании получить определенную услугу. Наименование и&nbsp;содержание договора, таким образом, зависит от&nbsp;выбранной Вами услуги.</p>',
                            },
                            {
                                id: '3',
                                name: 'Какой срок предоставления услуги?',
                                note: '<p>Консультация (в&nbsp;том силе первичная)&nbsp;— один рабочий день.</p>
                                <p>Формирование инвестиционного портфеля&nbsp;— от&nbsp;двух до&nbsp;пяти рабочих дней.</p>
                                <p>Выдача индивидуальной инвестиционной рекомендации&nbsp;— от&nbsp;одного до&nbsp;пяти рабочих дней.</p>
                                <p>Налоговое консультирование&nbsp;— от&nbsp;одного до&nbsp;трех рабочих дней.</p>
                                <p>Обращаем Ваше внимание, что конкретные сроки предоставления услуги определяются по&nbsp;окончании первичной консультации и&nbsp;зависят от&nbsp;поставленных перед Вами финансовых целей.</p>',
                            },
                        ]
                    },
                ]
            } %}

            {% include "../block/common/form/form.twig" with {
                view:           'base', 
                prefix:         "form__",
                ID:             'f_base',
                mod:            'is--form-base', 
                color:          '', 

                bg: [path.img,"/default/form-bg.png"].join(""),

                heading_group:  "", 
                heading_attr:   "",
                heading_mod:    "is--block-form  ff--custom  color--white", 
                heading_level:  "h2", 
                heading:        "Задайте свои вопросы на&nbsp;Online встрече",
                note_group:  "", 
                note_attr:   "",
                note_mod:    "is--block-form-note  is--h5  color--white", 
                note_level:  "p", 
                note:        "Запишитесь на online встречу, отправив свои: имя, номер телефона и E-mail",
                agreement_group:  "", 
                agreement_attr:   "",
                agreement_mod:    "is--block-form-agreement  color--white", 
                agreement_level:  "p", 
                agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
            } %}
        </main>

        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
            link:"",
            link_attr:"data-scrollto-item",            
            logotip:"svg",                
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    "attr":'data-scrollto-item',
                    "diff":'-58'
                },
            ],
        } %} #}

        {# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>