.header_{
	&wrap{
		.header-wrapper{
			border-bottom: 1px solid fadeout(@black, 90%);
		}
		.maxwidth-theme{
			max-width: @container!important;
			padding-left: @container_gap!important;
			padding-right: @container_gap!important;
			& > * > *{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.logo-block{
				order: 1;
				padding: 0!important;
			}
			.menu-only{
				order: 2;
				padding: 0 15px!important;
				margin: 0 auto
			}
			.region-phones{
				order: 3;
				padding: 0 15px!important;
			}
			.wb{
				order: 4;
				padding: 0 0 0 15px!important;
			}
		} 
		.logo-row .logo{
			display: block;
			height: auto!important;
			line-height: 0!important;
			padding: 0!important;
			a{
				display: block;
				svg{
					width: 140px;
					height: 30px;
				}
			}
		}
		.logo_and_menu-row{
			.wrap_icon{
				height: auto!important;
				.svg{
					opacity: 1;
				}
				svg{
					width: 24px;
					height: 24px;
				}
			}
		}
		/*.smalls .logo-row .wides .mega-menu table{
			tr{				
				//display: flex;
				//justify-content: center;
			}

			td{
				padding: 0 20px;
				.media-breakpoint-up(@xl; {
					padding: 0 30px;
				});
				.wrap{
					&:hover{
						background: none!important;
					}
					& > a {
						&::after{
							display: none;
						}
						height: auto!important;
						letter-spacing: 0;
						padding: 20px 0px;
						text-transform: none;
						.heading5();
						border-bottom: 3px solid fadeout(@primary, 100%);
						&:hover{
							border-bottom-color: @primary;
						}

					}
				}
				&.active{
					.wrap{
						& > a{
							border-bottom-color: @primary;
						}
					}

				}
			}
		} */
		&.light-menu-color{
			.header-wrapper{
				border-bottom: 1px solid fadeout(@white, 90%);
			}
			.logo-row .logo{
				a{
					svg{
						.st0{fill: @primary!important;}
					}
				}
			}
			.smalls .logo-row .wides .mega-menu table{
				td{
					.wrap{
						& > a {
							&:hover{
								color: @white!important;
							}							
						}
					}
				}
			} 
		}
	}
}
#headerfixed{
	& > .maxwidth-theme{
		max-width: 1380px!important;
		padding: 0 15px!important;
	}
	.logo-row{
		display: flex!important;
		align-items: center;
		.logo svg{
			width: 140px;
			height: 30px;
		}
	}
	.inner-table-block{
		height: auto;	
		padding: 0;	
	}
	.menu-block{
		padding: 0 20px;
		margin: 0 auto;
	}
	.inline-search-show{
		svg{
			width: 24px;
			height: 24px;
		}
	}
}

.mega-menu table{
	tr{
		display: flex;
		justify-content: center;
	}
	td{
		padding: 0 20px;
		.media-breakpoint-up(@xl; {
			padding: 0 30px;
		});
		.wrap{
			&:hover{
				background: none!important;
			}
			& > a {
				&::after{
					display: none;
				}
				height: auto!important;
				letter-spacing: 0;
				padding: 20px 0px;
				text-transform: none;
				.heading5();
				border-bottom: 3px solid fadeout(@primary, 100%);
				&:hover{
					border-bottom-color: @primary;
				}
			}
			.dropdown-menu ul.menu-wrapper{
				max-width: 1380px!important;
				margin-left: auto!important;
				margin-right: auto!important;
			}
		}
		&.active{
			.wrap{
				& > a{
					border-bottom-color: @primary;
				}
			}
		}
	}
}